extends layout 

block main-content 
  .about-container
    h1 About Memglish
    p Welcome to Menglish! We aim to provide users with an efficient and user-friendly platform for searching words, exploring their meanings, synonyms, antonyms, and even enjoying some humor with memes related to their searches.

    p Our application integrates the power of mainly two APIs i.e. MERRIAM-WEBSTER'S COLLEGIATE® THESAURUS API and Humor API to fetch data from reputable sources, ensuring accurate and reliable information. Whether you're a student, professional, or just curious about language and humor, our app is designed to meet your needs.

    h2 Our Mission
    p Our mission is to make learning and exploring words enjoyable and accessible to everyone. We strive to create a seamless experience that fosters curiosity, creativity, and knowledge expansion.

    h2 With our app, you can:
    ul
      li Quickly search for word definitions, synonyms, and antonyms.
      li Explore a curated collection of memes related to your searches, adding a touch of humor to your learning experience.
      li Access reliable information from reputable sources, ensuring accuracy and credibility.

    h2 Fun Way to Learn English
    p Learning English doesn't have to be boring! Our app offers a unique and fun way to expand your vocabulary and improve your language skills through memes. Memes provide a light-hearted and entertaining approach to learning, making the process enjoyable and engaging.

    h2 Get Started
    p Ready to explore the world of words and memes? Head over to our 
      a(href="/index") homepage
      |  and start searching now!
